<div id="header"><h1>Edit User</h1></div>
<div class="edit-container">
<%= render 'form' %>
		<%= link_to 'Show', @user , :class => 'btn' %>&nbsp;
		<%= link_to 'Back', users_path, :class => 'btn' %>
</div>
