// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
	margin: 0;
	padding: 0;
	width: 80%;
	margin: 0 auto;
}

table {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;

}

table, td, th, tr {
	border: 1px solid #333;
	padding: 5px;
	border-collapse: collapse;
	text-transform: capitalize;
	margin-left: 0;
}

a {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-transform: capitalize;
}

h1, .table-entry, p {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: #fff !important;

	h1 {
	margin-top: 0;
	padding: 15px;
	color: #fff;
	margin-left: 30px;
	}
}

.container {
	border: 1px solid #333;
	width: 100%;
	height: 600px;
	overflow: scroll;
}

table {
	margin: 50px;
}

.table-header {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#map {
	width: 100%;
	height: 250px;
// 	position: fixed !important;
//     bottom: 0px !important;
//     right: 0px !important;
//     margin-bottom: 0px !important;
}

.btn {
	background-color: #333;
	color: #fff !important;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	display: inline;
	margin-bottom: 10px;
	}

.btns {
	margin-top: 50px;
	margin-left: 50px;
}

.table-btn {
	background-color: #333;
	text-decoration: none;
	border: 0;

	a {
		color: #fff;
		text-decoration: none;
	}
}

.table-btn-alt {
	background-color: #333;

	a {
	text-decoration: none;
	color: #fff;
	}
}
.selected {
	color: #E1190A !important;
}

.edit-container {
	margin-top: 25px;
	margin-left: 50px;
}

#admin-btn {
	display: none;
}


@media screen and (max-width: 1100px) {
	#map {

	}
}