// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
	margin: 0;
	padding: 0;
}

table, td, th, tr {
	border: 1px solid #c4c4c4;
	padding: 5px;
	border-collapse: collapse;
	text-transform: capitalize;
}

a {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-transform: capitalize;
}

h1, .table-entry, p {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: #fff;
	margin-bottom: 25px;

	h1 {
	margin-top: 0;
	padding: 15px;
	}
}

table {
	margin: 50px;
}

.table-header {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#map {
	position: fixed !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    margin-bottom: 0px !important;
}

.btn {
	background-color: #333;
	color: #fff !important;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	margin-left: 50px;
	}

.table-btn {
	background-color: #333;
	text-decoration: none;
	border: 0;

	a {
		color: #fff;
		text-decoration: none;
	}
}

.table-btn-alt {
	background-color: #333;

	a {
	text-decoration: none;
	color: #fff;
	}
}
.selected {
	color: #E1190A !important;
}